### FOR LOOP

In [1]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

##### Looping on strings

In [6]:
my_str = "This is my statement for looping in python"
str_list = my_str.split()

for word in str_list:
    print(word)

This
is
my
statement
for
looping
in
python

##### Patterns to print

In [8]:
pattern  = ''

for i in range (0,10):
    if i < 5:
        pattern += '* '
        print(pattern)
    else:
        pattern = pattern[:-2]
        print(pattern)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

##### Version of for loop : with indexing using enumerate

In [10]:
my_str = "My name in Dev"

for n, alpha in enumerate(my_str):
    print(alpha, n)

M 0
y 1
  2
n 3
a 4
m 5
e 6
  7
i 8
n 9
  10
D 11
e 12
v 13

###### break, continue and pass

In [17]:
for i in range(1,10):
    if i%2 == 0:
        continue;
    print(i)

1
3
5
7
9

In [18]:
for i in range(1,10):
    if i%2 == 0:
        pass;
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
for i in range(1,10):
    if i%2 == 0:
        break;
    print(i)

1

### Loop Dictionary

In [21]:
my_dict = {1:['Dev', 25], 2:['chin',24], 3:['Ask',25]}

for key,val in my_dict.items():
    print(key, val)

1 ['Dev', 25]
2 ['chin', 24]
3 ['Ask', 25]

In [22]:
for key in my_dict.keys():
    print(key)

1
2
3

In [30]:
for key in my_dict.keys():
    print(my_dict[key])

['Dev', 25]
['chin', 24]
['Ask', 25]

### WHILE LOOP

In [28]:
start = 0
end = 10

while(start < end):
    
    if start%2 == 0:
        print(start)
        
    start += 1;

0
2
4
6
8