### DataStructures in Python


##### TUPLES

Tuples are data structures that are similar to lists in all aspects except in the way they are declared and how much they allow themselves to be modified. <br> **A tuple once created cannot be modified.**

In [1]:
sample_tuple = ("Sherlock", 30, "London", 6.2)
print(sample_tuple)

('SHerlock', 30, 'London', 6.2)

In [2]:
city_tuple = ('Mumbai', 18.99, 72.81)
print(city_tuple)

('Mumbai', 18.99, 72.81)

#####  Access elements

In [3]:
city_tuple[1]

18.99

In [5]:
# immutable hence can't modify
city_tuple[1] = 15.213

In [ ]:
# TO change convert in List

In [10]:
cord = city_tuple[1:]
print('Tuple is: {0}'.format(cord))

Tuple is: (18.99, 72.81)

In [8]:
list_cord = list(cord)
print('list is: {0}'.format(list_cord))

list is: [18.99, 72.81]

In [11]:
# Lets Try something

In [14]:
tuple_1 = ('val', [1,2,3], 10.2)
tuple_1[1][0] = 2

In [15]:
print(tuple_1)

('val', [2, 2, 3], 10.2)

##### So we can have mutable data inside tuple which can be changed



##### DICTIONARIES 
1.   ##### Key-Value pair DS
2.   ##### Also known as Hash Table

In [17]:
dictionary = {}
print(type(dictionary))

<class 'dict'>

In [18]:
data = {'Name': 'Dev', 'Age': 26, 'Height': 5.9, 'Weight': 70}
print(data)

{'Name': 'Dev', 'Age': 26, 'Height': 5.9, 'Weight': 70}

##### Access data using keys

In [19]:
name = data['Name']
print(name)

Dev

In [22]:
data['Name'] = "Devashish"
print(data)

{'Name': 'Devashish', 'Age': 26, 'Height': 5.9, 'Weight': 70}

In [24]:
# When keys are not present to avoid errors use get function
last_name = data.get('last_name')
print(last_name)

None

In [25]:
# Can also set Default values
last_name = data.get('last_name', 'NA')
print(last_name)

NA

##### Add more key values

In [27]:
data['Last_Name'] = "Khairnar"
print(data)

{'Name': 'Devashish', 'Age': 26, 'Height': 5.9, 'Weight': 70, 'Last_Name': 'Khairnar'}

In [29]:
# Check key is present or not
print('Name' in data)

True

In [33]:
#Get List of Keys and Values
keys = (list(data.keys()))
print(keys)
        
values =(list(data.values()))
print(values)

['Name', 'Age', 'Height', 'Weight', 'Last_Name']
['Devashish', 26, 5.9, 70, 'Khairnar']

##### Other way to create Dictionary using function Dict

In [34]:
new_dict = dict(Country = "India", Cities = ["Mumbai", "Delhi", "Kolkata"])
print(new_dict)

{'Country': 'India', 'Cities': ['Mumbai', 'Delhi', 'Kolkata']}

In [35]:
#Can update one dict using other
data.update(new_dict)
print(data)

{'Name': 'Devashish', 'Age': 26, 'Height': 5.9, 'Weight': 70, 'Last_Name': 'Khairnar', 'Country': 'India', 'Cities': ['Mumbai', 'Delhi', 'Kolkata']}

In [37]:
# to delete from Dict
del new_dict['Country']
print(new_dict)

{'Cities': ['Mumbai', 'Delhi', 'Kolkata']}

In [42]:
student_data = {1: ['dev', 24], 2: ['Rahul', 26], 3: ['Chinmay', 23] }
print(list(student_data.values()))
print(len(student_data))

[['dev', 24], ['Rahul', 26], ['Chinmay', 23]]
3

In [43]:
student_data[4] = ['Ashish', 26]
print(student_data)

{1: ['dev', 24], 2: ['Rahul', 26], 3: ['Chinmay', 23], 4: ['Ashish', 26]}